body
{
  color: white;
  background: #d1ffc0;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  background-color: black;
}
#hand_sign1 ,#hand_sign2  
{
  color: black;
}
.signal
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 25px;
  border-radius: 10px;
  letter-spacing: 10px;
}
.shadowed
{
  background-color: aliceblue;
  box-shadow: black 10px 10px 20px;
  border-radius: 20px;
  padding: 10px;
  
}